:root {
  --greyDark: #333333;
  --greyLight: #d6d6d6;
  --greyLight2: #a1a1a6;
  --white: #f5f5f7;
  --text: #1d1d1f;
  --blue: #0071e3;
  --a: #2997ff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  text-decoration: underline;
}

.black {
  color: var(--text) !important;
}

.dark-blue {
  color: #06c !important;
}

header {
  background: rgb(49, 49, 50);
  height: 45px;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}

header ul {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header ul li a {
  
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
  transition: opacity 400ms;
}

header ul li a:hover {
  text-decoration: none;
  opacity: 1;
}

.information {
  height: 45px;
  width: 100%;
  background: var(--blue);
  text-align: center;
  line-height: 45px;
  margin-top: 45px;
}

.information img {
  width: 10px;
}

.information a {
  color: #fff;
}

.information-2 {
  background: #fff;
  color: var(--text);
  margin: 0;
}

.information-2 a {
  color: var(--blue);
}

.top__title {
  margin-top: 52px;
  color: var(--white);
  text-align: center;
  z-index: 3;
}

.top__title h1 {
  font-size: 52px;
  font-weight: 500;
  letter-spacing: -1px;
}

.top__title h3 {
  margin-top: 3px;
  font-size: 20px;
  font-weight: 400;
}

.top__title h4 {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 15px;
  color: #d01f2a;
}

.top__title--links {
  margin-top: 12px;
}

.top__title--links a {
  font-size: 21px;
  font-weight: 400;
  color: var(--a);
}

.top__title--links a:nth-child(2) {
  margin-left: 30px;
}

.top__title--links a img {
  width: 12px;
}

.bottom__title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 50px;
  text-align: center;
  z-index: 3;
}

.bottom__title h2 {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  color: var(--greyLight2);
}

.bottom__title h2:nth-child(1) {
  color: var(--white);
  font-weight: 600;
}

.bottom__title h2:nth-child(4) {
  margin-top: 20px;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.section1 {
  height: 875px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section1 .background {
  top: -13%;
}

.section2 {
  height: 530px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sec2 {
  text-align: center;
  color: var(--text) !important;
  height: 100%;
  width: 100%;
  max-width: 1150px;
  letter-spacing: 0.5px;
  line-height: 34px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}

.section4__item h5 {
  max-width: 298px;
  font-size: 21px;
  font-weight: 400;
}

.section2 .background {
  top: -13%;
}

.section3 {
  width: 100%;
  height: 780px;
  overflow: hidden;
  position: relative;
  background: #000;
}

.section3 h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;
}

.section3 h5 {
  font-size: 38px;
  font-weight: 700;
}

.step1 {
  margin-right: 1200px;
  margin-top: 80px;
}

.step1con {
  margin-right: 850px;
}

.step2 {
  margin-left: 1200px;
  margin-top: 80px;
}

.step2con {
  margin-left: 970px;
}

.step3 {
  margin-right: 1200px;
  margin-top: 80px;
}

.step3con {
  margin-right: 1160px;
}

.step4 {
  margin-left: 1200px;
  margin-top: 80px;
}

.step4con {
  margin-left: 760px;
}

.section3 h1 img {
  width: 38px;
}

.section3 .background {
  width: 280px;
  height: 450px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.section4 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #f2f2f2;
}

.section4 .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  max-inline-size: 97.5%;
}

.section4__item {
  height: 590px;
  -webkit-box-flex: 0.497;
      -ms-flex: 0.497;
          flex: 0.497;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fbfbfb;
}

.section4__item h1 {
  font-size: 40px;
}

.section4__item h1 img {
  width: 30px;
}

.section4__item h3 {
  max-width: 370px;
  font-size: 21px;
  font-weight: 400;
}

.section4__item h4 {
  font-size: 12px;
  letter-spacing: normal;
  margin-top: 50px;
  max-width: 220px;
  margin-left: 60px;
  line-height: 30px;
}

.section4__item a {
  font-size: 17px;
}

.section4__item a img {
  width: 10px;
}

.section4__item .background {
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.section5 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #f2f2f2;
}

.section5 .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 30px;
  max-inline-size: 97.5%;
}

.section5__item1 {
  height: 410px;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  background: #fbfbfb;
}

.section5__item1 h1 {
  font-size: 40px;
}

.-section5__item1 h3 {
  font-size: 21px;
  font-weight: 400;
}

.section5__item1 h4 {
  font-size: 12px;
  letter-spacing: normal;
  line-height: 30px;
  margin-top: 30px;
}

.section5__item1 h5 {
  font-size: 14px;
  letter-spacing: normal;
  margin-top: 50px;
  line-height: 30px;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testa {
  margin-right: 6px;
}

.testf {
  margin-left: 25px;
}

/*FOOTER*/

.footer {
  width: 100%;
  height: 160px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__wrapper {
  width: 970px;
}

.footer ul {
  font-size: 12px;
  list-style: none;
  color: #86868b;
  border-bottom: 1px solid var(--greyLight);
}

.footer ul li {
  margin: 15px 0;
  letter-spacing: 0.1px;
}

.footer__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links--column {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links--column-title {
  font-weight: 400;
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}

.footer__links--column a {
  font-size: 12px;
  color: #515154;
  margin-bottom: 12px;
}

.footer__more {
  font-size: 11px;
  color: #86868b;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--greyLight);
  margin-top: 30px;
}

.footer__more a {
  color: #06c;
}

.footer__copyright {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11px;
  margin-top: -2px;
  color: #86868b;
  position: relative;
}

.footer__copyright .links {
  position: absolute;
  top: 50%;
  left: 42%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__copyright .links a {
  padding: 0 10px;
  color: #515154;
  border-left: 1px solid var(--greyLight);
}

.footer__copyright .links a:nth-child(1) {
  border: none;
}

aside{
  position:fixed;
  transition: right .9s ease;
  right: -300px;
  width: 300px;
  background-color:#fff;
  padding:80px 40px;
  z-index:4;
  height:100vh;
}
aside.active{
  right:0;
}
aside a{
  display:block;
  color:inherit;
  text-decoration: none;
  padding: 12px 0;
  font-size: 14px;
  font-weight:500;
}
aside button.close{
  font-size:24px;
  border:0;
  background-color: transparent;
  position: absolute;
  top:10px;
  right:10px;
  padding: 10px;
  font-family: sans-serif;
  font-weight:100;
  cursor:pointer;
}
.backdrop{
  display:none;
  position: fixed;
  z-index:4;
  inset: 0;
  background-color: rgba(0,0,0,0);
  transition: background-color .4s ease;
  backdrop-filter: blur(5px);
}
.backdrop.active{
  display:block;
  background-color: rgba(0,0,0,.35);
}
/*# sourceMappingURL=style.css.map */